<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>訪問した場所の写真を保存・表示するためにフォトライブラリへのアクセスが必要です。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>現在地を地図上に表示し、訪問した場所を記録するために位置情報へのアクセスが必要です。</string>
</dict>
</plist>
